!lib/

bin/
result/
target/
# src/test/scala/solutions/
# src/test/scala/testcases/

\.idea/
\.metadata/
\.settings/
\.project/

*.txt
*.class
*.j

\.DS_Store
\.cache-main
\.cache-tests
\.classpath
result\.txt
